@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,900,700,500,300);

* {/* Reset */
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  background: #EDEDED;
  font-family: 'Roboto', serif;
  color: #222;
}

h1{
  font-family: 'Roboto', serif;
  font-weight: 500;
  font-size: 1em;
}
.header{
  margin-bottom: 4%;
  
}
#apptitle{
  width: 50%;
  margin-left: 20px;
  padding-top: 12px;
  float: left;
}

.navoverlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.5);
  z-index: -1;
  opacity: 0;
  transition: opacity .1s;
}
.allholder{
  margin: 0px;
  width: 100%;
  height: 100%;
  position: relative;
}
.nav{
  margin-left: -100%;
  width: 240px;
  height: 100%;
  background: white;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 60;
  transition: margin-left 0.3s;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
.nav .centered{
  padding: 12px 0 12px 95px;
  border-bottom: 1px #EDEDED solid;
}
#logo-center img{
  transition:.15s;
  opacity:1;
  
}
#logo-center img:hover{
  opacity:.9;
}
.nav li{
  font-family: 'Roboto', san-serif;
  list-style-type: none;
  padding: 15px;
  margin-left: -40px;
}
.nav li:hover{
  background: #F0F0F0;
}
.selected{
  background: #F0F0F0;
}
.nav li a{
  color: #AAA;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .2px;
  transition:.15s;
  padding-left: 15px;
}
.nav li a:hover{
  color: #555 !important;
}
.selected a{
  color: #222 !important;
}
.status-bar { /*Very top bar*/
  position: fixed;
  top: 0px;
  z-index: 51;
  width: 100%;
  display: block;
  height: 20px;
  background: #B71C1C;
  transition: 0.3s;
}
.toolbar{ /*Second Top Bar*/
  color: #FFF;
  margin-top: 20px;
  top: 0px;
  position: fixed;
  width: 100%;
  height: 48px;
  background:  linear-gradient(to  right, #0F2027, #203A43, #2C5364);
  z-index: 50;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
  padding:top;
}
.toolbar #tools{
  padding-top: 15px;
  position: fixed;
  right: 20px;
}
.toolbar #tools ul{
  list-style-type: none;
}
.toolbar #tools ul li{
  display: inline;
  padding-left: 2px;
}
.toolbar #hamburger{
  float: left;
  visibility: visible;
  padding: 15px;
}
#search, #settings, #hamburger, #postsettings{
  color: #FFF;
  cursor: pointer;
}
#trashsettings{
  color: #B71C1C;
  padding-top:3%;
  padding-right:2px;
  position: absolute;
  cursor: pointer;
  

}
  
#content{
  margin: 75px auto 0 180px;
  width: 70%;
} 

.boxes{
  margin: 110px auto 0 300px;
  width: 60%;
}
[class*='col-']{ /* Targets anything with 'col-' */
  float: left; 
}
.col-1-1{
  width: 100%;
  height: 200px;
}
.col-1-3{
  width: 33.333%;
  height: 200px;
}
.col-1-2{
  width: 50%;
  height: 200px;
}
.col-1-5{
  width: 5%;
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: 2.75em;

}
 

#plus{
  opacity: 1;
}
.module{
  padding:10px;
  margin: 10px;
  height: 180px;
  background:white;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  font-family: 'Roboto', san-serif;
  font-weight: 700;
  font-size: 12px;
  list-style-type: none;
  text-align: center;
}

.filters{
  position:fixed;
  background: white;
  width: 150px;
  z-index: 10;
  right: -100%;
  top: 68px;
  box-shadow: -1px 3px 5px rgba(0,0,0,0.2);
  transition: 0.4s;
}

.filters ul li{

  font-family: 'Roboto', san-serif;
  padding-top: 7px;
  padding-left: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  list-style-type: none;
  margin: 0 0 0 -40px;
  border-bottom: 1px solid #DEDEDE;
}

.feed{
  padding-top: 20px;
  margin-left: 85px;
}
.feed-item{
  display: block;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  background: white;
  padding-left: -100px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  transition:  0.7s;
  
}
.feed-item .icon-holder{
  width: 55px;
  float: left;
  margin: 21px 20px 0 25px;
}
.feed-item .icon-holder .icon{
  width: 55px;
  height: 55px;
  border-radius: 100%;
  float: left;
  background-image: url('https://lh3.googleusercontent.com/-Az9OhFIaxEY/AAAAAAAAAAI/AAAAAAAAAAA/iHtDLHxQMFc/photo.jpg');
  background-size: 55px 55px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.feed-item .text-holder{
  margin-top: 22px;
  width: 75%;
  float: left;
}
.feed-item .spacer{
  width: 10%;
  float: left;
}
.feed-description{
  font-size: .9em;
  font-weight: 300;
  color: #888;
  height: 2.4em;
  margin-top: 2%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meta{
  font-size: 0.8em;
}
.post-options-holder{
  float: right;
  height: 100%;
  width: 30px;
  background: #EEE;
  padding: 12px;
  transition: background 0.2s;
}
.post-options-holder:hover{
  background: #DDD;
}
.feed-title{
  font-size: 1.3em;
  font-weight: 500;
}
.blog{
  overflow: hidden;
}
.portfolio{
  overflow: hidden;
}

/*Lower Right Button to Add Feed Item*/

#plus{ 
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #E53935;
  position: fixed;
  float: right;
  bottom: 15px;
  right: 15px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
  text-align:center;
  cursor: pointer;
  color: #FFF;
  /*Align Icon to Center of circle*/
  text-align: center;
  line-height: 60px; /*Height of container*/
  vertical-align: middle;
}
#plus:hover{
  background: #F44336;
}


.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.google-button:focus, .google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}

/* ====================  FORM START ========================*/
/**
 * General variables
 */
/**
 * General configs
 */
 * {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1em;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

input {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
}
input[type="submit"] {
  cursor: pointer;
}
input::-webkit-input-placeholder {
  font-size: 0.85rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #ccc;
}
input:-ms-input-placeholder {
  font-size: 0.85rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #ccc;
}
input::-ms-input-placeholder {
  font-size: 0.85rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #ccc;
}
input::placeholder {
  font-size: 0.85rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #ccc;
}

/**
 * Bounce to the left side
 */
@-webkit-keyframes bounceLeft {
  0% {
    -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(-30px, -50%, 0);
            transform: translate3d(-30px, -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
}
@keyframes bounceLeft {
  0% {
    -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(-30px, -50%, 0);
            transform: translate3d(-30px, -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
}
/**
 * Bounce to the left side
 */
@-webkit-keyframes bounceRight {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(calc(100% + 30px), -50%, 0);
            transform: translate3d(calc(100% + 30px), -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
  }
}
@keyframes bounceRight {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(calc(100% + 30px), -50%, 0);
            transform: translate3d(calc(100% + 30px), -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
  }
}
/**
 * Show Sign Up form
 */
@-webkit-keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
/**
 * Page background
 */
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("https://goo.gl/YRxqs1") no-repeat center;
  background-size: cover;
}
.user_options-container {
  position: relative;
  width: 80%;
}
.user_options-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.85);
  border-radius: 3px;
}

/**
 * Registered and Unregistered user box and text
 */
.user_options-registered,
.user_options-unregistered {
  width: 50%;
  padding: 75px 45px;
  color: #fff;
  font-weight: 300;
}

.user_registered-title,
.user_unregistered-title {
  margin-bottom: 15px;
  font-size: 1.66rem;
  line-height: 1em;
}

.user_unregistered-text,
.user_registered-text {
  font-size: 0.83rem;
  line-height: 1.4em;
}

.user_registered-login,
.user_unregistered-signup {
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.2rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.user_registered-login:hover,
.user_unregistered-signup:hover {
  color: rgba(34, 34, 34, 0.85);
  background-color: #ccc;
}

/**
 * Login and signup forms
 */
.user_options-forms {
  position: absolute;
  top: 50%;
  left: 30px;
  width: calc(50% - 30px);
  min-height: 420px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  -webkit-transform: translate3d(100%, -50%, 0);
          transform: translate3d(100%, -50%, 0);
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.user_options-forms .user_forms-login {
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
.user_options-forms .forms_title {
  margin-bottom: 45px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
  color: #e8716d;
  letter-spacing: 0.1rem;
}
.user_options-forms .forms_field:not(:last-of-type) {
  margin-bottom: 20px;
}
.user_options-forms .forms_field-input {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 6px 20px 6px 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: gray;
  letter-spacing: 0.1rem;
  transition: border-color 0.2s ease-in-out;
}
.user_options-forms .forms_field-input:focus {
  border-color: gray;
}
.user_options-forms .forms_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}
.user_options-forms .forms_buttons-forgot {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  color: #ccc;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}
.user_options-forms .forms_buttons-forgot:hover {
  color: #b3b3b3;
}
.user_options-forms .forms_buttons-action {
  background-color: #e8716d;
  border-radius: 3px;
  padding: 10px 35px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.2s ease-in-out;
}
.user_options-forms .forms_buttons-action:hover {
  background-color: #e14641;
}
.user_options-forms .user_forms-signup,
.user_options-forms .user_forms-login {
  position: absolute;
  left: 40px;
  width: calc(100% - 80px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.user_options-forms .user_forms-signup {
  -webkit-transform: translate3d(120px, 0, 0);
          transform: translate3d(120px, 0, 0);
}
.user_options-forms .user_forms-signup .forms_buttons {
  justify-content: flex-end;
}
.user_options-forms .user_forms-login {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

/**
 * Triggers
 */
.user_options-forms.bounceLeft {
  -webkit-animation: bounceLeft 1s forwards;
          animation: bounceLeft 1s forwards;
}
.user_options-forms.bounceLeft .user_forms-signup {
  -webkit-animation: showSignUp 1s forwards;
          animation: showSignUp 1s forwards;
}
.user_options-forms.bounceLeft .user_forms-login {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(-120px, 0, 0);
          transform: translate3d(-120px, 0, 0);
}
.user_options-forms.bounceRight {
  -webkit-animation: bounceRight 1s forwards;
          animation: bounceRight 1s forwards;
}

/**
 * Responsive 990px
 */
@media screen and (max-width: 990px) {
  .user_options-forms {
    min-height: 350px;
  }
  .user_options-forms .forms_buttons {
    flex-direction: column;
  }
  .user_options-forms .user_forms-login .forms_buttons-action {
    margin-top: 30px;
  }
  .user_options-forms .user_forms-signup,
  .user_options-forms .user_forms-login {
    top: 40px;
  }

  .user_options-registered,
  .user_options-unregistered {
    padding: 50px 45px;
  }
}



#activityform{
  width:85%;
  min-width: 500px;
  height: 0px;
  background: #EDEDED;
  margin: 10% auto;
  padding: 20px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
  z-index: -2;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 0.2s;
}

#formHolder{
  height: 100%;
  background: #FFF;
  padding: 20px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  z-index: 2;
}
#spacer, #spacertwo{
  float: left;
  width: 2.5%;
  height: 100%; 
}
#register{
  float: left;
  background: #FFF;
  padding: 20px;
  height: 100%;
  width: 47.5%;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  z-index: 2;
  
}
.desc{
  margin-bottom: 100px;
}
textarea, input{
  width: 100%;
  resize: none;
  margin-bottom: 10px;
  margin-top: 5px;
}

input[type="text"], input[type="password"], textarea{
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  outline: none;
  margin-top: 5%;
} 
input[type="text"]:focus, input[type="text"].focus,
input[type="password"]:focus, input[type="password"].focus,
textarea.focus, textarea:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

/*submit button*/
button[type="submit"]{
  border: none;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  margin-top: 7%;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  background: #333;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
}

button[type="submit"]:hover {
  background: #E53935;
  text-decoration: none;
}


.hidden{
  display: none;
}
select {
    width: 100%;
    padding:7px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: #EEE;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    margin-bottom: 10px;
    margin-top: 5px;
}
#forget a{
  text-decoration: none;
  color: #222;
  font-size: .7em;
}
#forget a:hover{
  color:#E53935;
}

#logoutbut a{
  float: right;
  z-index: 100;
  font-size: .6em !important;
  text-decoration: none;
  color: #FFF;
  margin-right: 10px;
  margin-top: 2px;
}
#logoutbut a:hover{
  color:#E91E63;
}
@media all and (max-width: 855px){
  
  #loginform, #register, #formHolder {width: 100%}
  #spacer{
    height: 20px;
  }
  #activityform{
    height: auto;
    overflow: auto;
    min-width: 200px;
  }
}

/*END FORM*/

@media all and (min-width: 1000px){
  .nav{
    margin-left: 0px !important;
  }
  .bodyholder{
    position: relative;
  }
  .toolbar #hamburger{
    visibility: hidden;
  }
  #activityform{
    width: 50%;
    margin-left: 30%;
  }


}

@media all and (max-width: 1000px){

  .col-1-3{
    width: 100%;
  }
  .feed-item{
    margin-left: 0px;
    margin-bottom: 1px;
    box-shadow:none;
  }
  .feed{
    margin-top: -2px;
    margin-left: 0;
  }
  .boxes{
  margin: 110px auto 0 auto;
  width: 0%;
  }

  #content{
  margin: 50px auto 50px auto;
  min-width: 300px;
  width: 100%;

  }

  #activityform{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
  }
  
}

@media all and (max-width: 560px){.feed-item .text-holder{width: 70%}}
@media all and (max-width: 470px){.feed-item .text-holder{width: 60%}}
@media all and (max-width: 360px){.feed-item .text-holder{width: 50%}}